### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
schools = "Resources/schools_complete.csv"
students = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(schools)
student_data = pd.read_csv(students)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#total schools 
total_schools=school_data_complete["School ID"].nunique()
print(total_schools)

15

In [3]:
#total students
total_students=school_data_complete["student_name"].count()
print(total_students)

39170

In [4]:
total_students=school_data_complete["Student ID"].nunique()
print(total_students)

39170

In [5]:
# school budget
total_budget=school_data["budget"].sum()
print(total_budget)

24649428

In [6]:
#math average
math_avg=school_data_complete["math_score"].mean()
print(math_avg)

78.98537145774827

In [7]:
#reading average
reading_avg=school_data_complete["reading_score"].mean()
print(reading_avg)

81.87784018381414

In [8]:
#overall passing rate
overall_rate = (reading_avg + math_avg)/2
print(overall_rate)

80.43160582078121

In [11]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_students_math = school_data_complete.loc[(school_data_complete["math_score"]>=70)]
count_math = passing_students_math["math_score"].count()
percent_passing_math_score = (count_math/total_students)*100
print(count_math)
print(total_students)
print(percent_passing_math_score)

29370
39170
74.9808526933878

In [12]:
#reading students
passing_students_reading = school_data_complete.loc[(school_data_complete["reading_score"]>=70)]
count_read = passing_students_reading["reading_score"].count()
percent_passing_reading_score = (count_read/total_students)*100
print(count_read)
print(total_students)
print(percent_passing_reading_score)

33610
39170
85.80546336482001

In [18]:
dataframe= pd.DataFrame({"Total Schools": [total_schools],
                         "Total Students": [total_students],
                         "Total Budget": [total_budget],
                         "Average Math Score" : [math_avg],
                         "Average Reading Score" :[reading_avg],
                         "% Passing Math": [percent_passing_math_score],
                         "% Passing Reading":[percent_passing_reading_score],
                         "% Overall Passing Rate": [overall_rate]
                        })

dataframe

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
ninth_grade_math = school_data_complete[(school_data_complete["grade"]=="9th")].groupby(["school_name"]).mean()["math_score"]

def math_by_grade(grade)

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.